body{
  font-family: 'Trebuchet MS', 'Lucida Sans unicode', 'Lucida Grande', 'Lucida Sans', 'Arial',' sans-serif'
}

.main-container {

    /*Draw a solid border make it bright pink */
    border-style: solid;
    border-width: 10px;
    border-color: #FF10F0;
    /*Add space between the border and its inside elements. */
    padding: 10px;
    /*Color the background with light pink.*/
    background: Yellow;
    width: 75%
    margin: auto;
}

div.align {
  text-align: center;
}

.secondary-container {
  margin: auto;
  width: 50%;
  padding: 50 ox
  border-bottom: 1px black solid;
  border-spacing: inherit;
}

#mainheader{
  position: relative;
  left: 20px;
  top: 5px;
  color: black;
  opacity: .75;
  font-size: 60px;
}
